@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*, html, body {
    margin: 0; 
    padding: 0;
}


body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to bottom right,#2C5364, #9ab28d, #b5cda8);  */
    background: #1f4037;  
    background: -webkit-linear-gradient(to left, #8DAA91, #1f4037);  
    background: linear-gradient(to left, #8DAA91, #1f4037); 
      
    /* background-color: #8da580; */

}

.welcome {
  font-weight: medium;
  font-size: 50px;
  margin-top: 70px;
  margin-left: 110px;
  padding: 1px;
  text-align: center;

}

.speech-bubble {
	position: absolute;
	background: #b1a8de;
	border-radius: .4em;
  width: 50%;
  height: 20%;
  bottom: 350px;
  left: 25%;
  padding: 10px;
  text-align: center;
  padding: 10px;
  text-align: center;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 22px solid transparent;
	border-top-color: #b1a8de;
	border-bottom: 0;
	margin-left: -22px;
	margin-bottom: -22px;
}



.motivation {
  font-weight: bold;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 110px;
  padding: 1px;
  text-align: center;
}

.reason {
  font-weight: regular;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 115px;
  padding: 1px;
  text-align: center;
  
}

.info {
  font-weight: light;
  font-size: 10px;
  margin-top: 20px;
  margin-left: 115px;
  padding: 1px;
  text-align: center;
}
.container{
    width: 50vw;
    height: 60vh;
    display: grid;
    /* background: lightblue; hier wird das design gezeigt */
    grid-template-columns: 100%;
    grid-template-areas: "login";
    box-shadow: 0 0 17px 10px rgb(0 0 0 / 30%);
    border-radius: 20px;
    background: #f7f7f1;
}

.design {
  grid-area: design;
  /* background: lightcoral; hier wird das design gezeigt */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.bot{
  z-index: 2;
  left: 26%;
  width: 50%; 
  position: relative;
  display: inline-block;
  height: auto;
  Top: 235px;
  padding: 5px;
  
}

.bot:hover {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.barcode {
  bottom: 20px;
  left: 210px;
  position: absolute;
  width: 25%;
  height: 25%;
  display: inline-block;
  z-index: 1;
  padding: 5px;
}

.login {
  grid-area: login;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 100px;
  


  /* background-color: lightgoldenrodyellow; hier wird der login gezeigt */
}

.login h3.title{
    margin: 20px 0;
}

.Agetitle {
  color: #686868;
  font-size: 15px;
  font-weight: 500;
  margin-left: 10px;
}

.role {
  color: #686868;
  font-size: 15px;
  font-weight: 500;
  margin-left: 10px;
}

.gender {
  color: #686868;
  font-size: 15px;
  font-weight: 500;
  margin-left: -5px;
}
.text-input{
  background: #e6e6e6;
  height: 50px;
  display: flex;
  width: 60%;
  align-items: center;
  border-radius: 20px;
  padding: 0 15px;
  margin: 15px 0;

}

.text-input select{
  background: none;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  margin-left: 10px;

}

.text-input i {
  color: #686868;
}
::placeholder{
  color: #9a9a9a;

}

.login-btn {
  width: 45%;
  height: 7%;
  padding: 10px;
  color: white;
  background: linear-gradient(to right,#cdc4fb, #b1a8de);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
}

.login-btn:hover, login-btn:focus, login-btn:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* check box*/

input[type="checkbox"] {
  display: inline-block;
  vertical-align: middle;
}

a {
  text-decoration: underline;
  color: blue;
}


@media(min-width: 900px){
  .container {
    grid-template-columns: 50% 50%;
    grid-template-areas: "design login";
  }

  .design {
    display: block;
  }

}

@media only screen and (max-width: 1400px) {

  .bot{
    display: none;
  }

  .speech-bubble{
    display: none;
  }
}

@media only screen and (max-height: 800px) {
  /* place here CSS for when the screen is less than 500px tall */

  .design{
    display: none;
  }


}

