<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Case Study Hatespeech</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/terms.css') }}"
    />
    <meta charset="UTF-8" />
    <title>Terms and Conditions</title>
  </head>
  <body>
    <header>
      <h1>Terms and Conditions</h1>
    </header>
    <main>
      <h2>How do we collect and use your data (annotations)?</h2>
      <p>
        First of all, thank you for helping me to obtain a meaningful dataset
        regarding Hate Speech. With your help I can get a better understanding
        of Hate Speech on Social Media, which is the focus of my research for my
        master thesis.
      </p>
      <p>
        I am presently working on my master's thesis and would appreciate your
        evaluation of several texts.
      </p>
      <p>
        The texts consists of real messages from various sources that may
        contain hate speech. My work aims to combat such messages.
      </p>
      <h2>
        Here are the terms you must agree on to participate in this study:
      </h2>
      <ul>
        <li>I declare that I am at least 18 years old</li>
        <li>
          I hereby declare that I have been adequately informed that my
          participation in this study involves labeling different texts in the
          field of hate speech.
        </li>
        <li>I agree that participation in this study is entirely voluntary.</li>
        <li>
          I agree that my data may be used/published for scientific purposes.
        </li>
      </ul>
      <p>
        The study is being conducted by Raisa Romanov Geleta at the JKU Linz –
        Computational Perception Institute, and is under the supervision of Dr.
        Emilia Parada-Cabaleiro.
      </p>
      <p>
        If you have any questions, please feel free to e-mail me:
        K11929838@students.jku.at
      </p>
    </main>
  </body>
</html>
